@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --width: 100vw;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    position: absolute;
    width: var(--width);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgray;
    position: sticky;
    z-index: 10;
    top: 0;
    margin-bottom: 0;
    width: var(--width);
}

.header > h2 {
    margin-left: 2em;
    margin-right: 2em;
}

h2, h1, h3, h4, p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}

p {
    font-size: 1.5em;
}

.main {
    position: absolute;
    margin-top: 0;
    z-index: 1;
    width: var(--width);
}

.image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-image: url('stalingrad.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: brightness(0.5);
}

.page-title-section {
    background-color: white;
    width: var(--width);
    height: 100%;
    z-index: 1;
}

.spacing {
    position: relative;
    height: 600px;
    backdrop-filter: blur(8px);
    transition-property: backdrop-filter;
    transition-duration: 1s;
    position: relative;
}

.spacing:hover {
    backdrop-filter: blur(0px);
}

.spacing > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-white {
    background-color: white;
    width: var(--width);
    z-index: 1;
    height: 100%;
    margin-top: 0;
}

.section-white > p {
    margin-top: 0;
}

.title-wrapper {
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 100%;
}

.title-wrapper > * {
    max-width: 100%;
}

.title {
    font-weight: bold;
    font-size: 5.3em;
    margin-bottom: 0;
}

.date {
    margin-top: 0;
    font-weight: bolder;
    margin-left: 5%;
}

.event-description {
    font-size: 2.5em;
    margin-left: 1%;
}

.quote {
    font-size: 3em;
    font-weight: bolder;
    color: white;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}